@import "../../../colors.scss";

:host {
    display: flex;
    justify-content: center;
}

.content {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;

    #chat-content {
        margin-bottom: 8rem;
    }

    .image-button,
    .send-button {
        color: $purple;
    }

    .image-button {
        width: 9rem;
    }

    .send-button {
        position: relative;
        right: 2.5rem;
        top: 0.5rem;

    }

    .send-message-section {
        position: fixed;
        bottom: 2rem;
        width: 100%;

        input {
            width: 70%;
        }
    }
}