<div class="content">
    <div id="chat-content"></div>
    <div class="send-message-section">
        <button mat-raised-button class="image-button" (click)="sendImage()">
            {{sendImageText}}
            <mat-icon iconPositionEnd>arrow_right</mat-icon>
        </button>

        <div>
            <input matInput type="text" [placeholder]="inputPlaceholder" [(ngModel)]="message" />
            <button class="send-button" mat-icon-button aria-label="Send" [disabled]="!message" (click)="send(message)">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>